@view-transition {
	navigation: auto;
}

.wp-block-query-filter {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.wp-block-query-filter__term {
	transition: opacity 0.3s ease, max-height 0.3s ease;
	overflow: hidden;
}

.wp-block-query-filter__term[style*="display: none"] {
	opacity: 0;
	max-height: 0;
	margin: 0;
	padding: 0;
}
